ol
  li 
    :markdown
      Include [Angular.js](http://angularjs.org) in your project

    pre.prettyprint
      = '<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>'

    :markdown
      Optionally include [Bootstrap](http://getbootstrap.com) CSS for theming

    pre.prettyprint
      = '<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">'

  li 
    span Install angular-validateme via 
    a(href="http://bower.io", target="_blank") bower
    span  or  
    a(href="zip/angular-validateme-"+version+".zip") download latest zip    
    pre.prettyprint bower install angular-validateme 


  li Include angular-validateme into your project
    pre.prettyprint
      = '<script src="bower_components/angular-validateme/dist/js/validateme.js"></script>'

  li Define angular app and add "validateme" to dependencies
    pre.prettyprint
      = '<html ng-app="app">'
    pre.prettyprint var app = angular.module("app", ["validateMe"]);

  li Optionallly override styles or validation messaging in app.config.:
    pre.prettyprint.
      app.config(function(validationOptionsProvider) {
        validationOptionsProvider.containerClasses.success = 'yep-success';
        validationOptionsProvider.validationElement.setMessage('required', 'FOOL! You must fill this out or pay the price!');
      });

  li Markup element that should be editable 
    pre.prettyprint(ng-non-bindable)
      = '<div ng-controller="Ctrl">\n'
      = '  <input type="text" name="myfield" ng-minlength="5" validateme>\n'
      = '</div>'

  li Sleep well knowing your entries are valid!
    div(style="padding-top: 5px")