:markdown
  **Angular-ValidateMe** is a configurable directive for providing simple but extendable inline form validation for [AngularJS](http://angularjs.org) applications.

h4 Dependencies
:markdown
  Basically it does not depend on any libraries except [AngularJS](http://angularjs.org) itself.    
  For validation theming to appear properly out of the box, you will need to include [Twitter Bootstrap](http://getbootstrap.com) CSS.  

h4 Features
table(style="width: 50%; min-width: 200px")
  tr
    td(style="width: 50%; vertical-align: top")
      :markdown
        * [text](#text-simple)        
        * [textarea](#textarea)
        * [select](#select-local)
        * [checkbox](#checklist)
        * [radio](#radiolist)
        * [date](#bsdate)
        * [time](#bstime)
        * [html5 inputs](#html5-inputs)        
        * [typeahead](#typeahead)

    td(style="width: 50%; vertical-align: top")
      :markdown
        * [complex form](#editable-form)
        * [editable row](#editable-row)
        * [editable column](#editable-column)
        * [editable table](#editable-table)
        * [themes](#themes)