:markdown
  **Angular-ValidateMe** is a configurable directive for providing simple but extendable inline form validation for [AngularJS](http://angularjs.org) applications.

h4 Dependencies
:markdown
  Basically it does not depend on any libraries except [AngularJS](http://angularjs.org) itself.    
  For validation theming to appear properly out of the box, you will need to include [Twitter Bootstrap](http://getbootstrap.com) CSS.  

h4 Features
:markdown
  Allows you to utilize the built-in Angular validation with the goodness of Bootstrap validation styling.  
  I was frustrated by the idea of adding 4 spans for every element I wanted to validate, specially because many of them are identical.  Now you can skip the manual addition of error handling if you are using the built-in Angular validations (like ng-minlength="2").  If you write a directive for custom validation, no problem! Simply add those custom spans and enjoy a better life.