//theme: Bootstrap 3
link(href="libs/bootstrap/dist/css/bootstrap.css", rel="stylesheet", media="screen")

//docs css
link(href="docs/css/docs.css", rel="stylesheet", media="screen")

//angular
script(src='libs/angular/angular.js')
script(src='libs/angular-mocks/angular-mocks.js')

//jquery (needed for bootstrap)
script(src="libs/jquery/jquery.min.js")
//bootstrap
script(src="libs/bootstrap/dist/js/bootstrap.js")

//google-code-prettify
script(src='libs/google-code-prettify/bin/run_prettify.min.js')

//app
script(src='docs/js/app.js')

//angular-validateme
script(src='dist/angular-validateme.min.js')